@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Trocchi&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    background-color: #CBEEF1;
}

.page-container{
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.first-side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    // padding: 50px;
    .first-side-container{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .image-container{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin: auto;
                text-align: center;
                width: 350px;
                height: 350px;
            }
        }
        .personal-info{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .name{
                font-size: 31.9px;
                font-family: 'Trocchi', serif;
            }
            .contact-details{
                display: flex;
                justify-content: space-evenly;
                width: 150px;
                i{
                    color: black;
                }
            }
            .skills{
                .skills-list{
                    ul{
                        margin-top: 3px;
                        padding-left: 0px;
                        li{
                            list-style-type: none;
                        }
                    }
                    // gap: 5px;
                }
            }
            .hobbies{
                width: 250px;
            }
        }
    }
}

.second-side{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    .second-side-container{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 90px;
    }
}
footer{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .images{
            img{
                width: 200px;
            }
        }
    }
}

@media (min-width: 1000px){
    .page-container{
        flex-wrap: nowrap;
        margin: 80px;
    }
    .first-side{
        border-right: 1px solid black;
        padding: 50px;
    }
}

@media (max-width: 999px){
    .first-side{
        border-bottom: 1px solid black;
        .first-side-container{
            margin-bottom: 30px;
        }
    }
}